* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

img {
  max-width: 100px;
  display: block;
}

a {
  text-decoration: none;
}

body {
  background-color: gray;
}

/*End of Global Style*/

.estrutura {
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: header header header, sidenav content anuncios;
}

.header {
  grid-area: header;
}

.sidenav {
  grid-area: sidenav;
}

.content {
  grid-area: content;
}

.anuncios {
  grid-area: anuncios;
}

.footer {
  grid-area: footer;
}
